
{% extends "base.html" %}
{% block results %}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"> <a href="/"> Home </a> </li>
  <li role="presentation"> <a href="/add_message"> Add Message </a></li>
  <li role="presentation"> <a href="/users"> Users </a></li>
  <li role="presentation" class="active"> <a href="/calls"> Call History </a></li>
</ul>

<div class="col-md-10 col-xs-offset-1">
      <table class="table table-hover table-bordered table-striped">
        <h2 > Call History </h2>
        <form name="get_csv" action="/get_csv" method="post">
        <button class="btn btn-default" type="submit" value="Get CSV of Calls" /> Download CSV</button>
      </form>
        <tr>
          <th> Name </th>
          <th> Region </th>
          <th> Question </th>
          <th> Answer </th>
          <th> Timestamp </th>
          <th> CallSid </th>
        </tr>
        {% for call in call_list %}
        <tr class="highlightee" id="{{ call.sid }}">
          <td>{{ call['name'] }} </td>
          <td>{{ call['region']  }}</td>
          <td>{{ call['question']  }}</td>
          <td>{{ call['answer']  }}</td>
          <td> {{ call['timestamp']  }} </td>
          <td>
            {% if call['call_id'] %}
              <a target="_blank" href="https://www.twilio.com/user/account/log/calls/{{call['call_id']}}">Link</a>
            {% endif %}

          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}
