{% extends "base.html" %}
{% block results %}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"> <a href="/"> Home </a> </li>
  <li role="presentation"> <a href="/add_message"> Add Message </a></li>
  <li role="presentation"> <a href="/users"> Users </a></li>
  <li role="presentation"> <a href="/calls"> Call History </a></li>
</ul>

<div class="jumbotron" style="background: white">
    <div class="container">
      <h1>Welcome to EthiopiaSMS</h1>
      <p> Get Ready to Send some calls</p>
      <p><a class="btn btn-primary btn-lg" href="/add_message" role="button">Start Here</a></p>
    </div>
</div>

{% endblock %}
