{% extends "base.html" %}
{% block results %}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"> <a href="/"> Home </a> </li>
  <li role="presentation"> <a href="/add_message"> Add Message </a></li>
  <li role="presentation"> <a href="/users"> Users </a></li>
  <li role="presentation"> <a href="/calls"> Call History </a></li>
</ul>

<div class="jumbotron" style="background: white">
    <div class="container">
      <h1>Welcome to EthiopiaSMS</h1>
      <p> Get Ready to Send some calls</p>
      <h2> Step 1: Tailor your message on the <a href="/add_message">add message page </a></h2>
      <h2> Step 2: <a href="/users">Add users </a> to the system if they aren't enrolled </h2>
      <h2> Step 3: Call user by <a href="/users"> selecting them </a> </h2>
      <h2> Step 4: See user responses & <a href="/users">call results </a> </h2>
      <p><a class="btn btn-primary btn-lg" href="/add_message" role="button">Start Here</a></p>
    </div>
</div>

{% endblock %}
