{% extends "base.html" %}
{% block results %}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"> <a href="/"> Home </a> </li>
  <li role="presentation"> <a href="/add_message"> Add Message </a></li>
  <li role="presentation" class="active"> <a href="/users"> Users </a></li>
  <li role="presentation"> <a href="/calls"> Call History </a></li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-offset-1">
      <h1> Add a new user </h1>
      <br>
      <p id="success_text" style="display: none"> Success! </p>
      <form class="form-inline" name="new_user" action="/users" method="post">
        <div class="form-group input-group">
          Phone Number:<br>
          <input minlength="10" class="form-control" name="cell_phone" type="text" placeholder="Phone Number" class="form-control">
        </div>
        <br><br>
        <div class="form-group">
          Name: <br>
          <input class="form-control" name="name" type="text" placeholder="Enter Name" class="form-control">
        </div>
        <br><br>
        Regions: <br>
        <input class="form-control" type="text" name="regions" list="namesregion" placeholder="Region Name">
        <datalist id="namesregion">
          {% for region in ethiopia_info.regions %}
          <option>{{region}}</option>
          {% endfor %}
        </datalist>
        <br><br>
        Villages: <br>
        <input class="form-control" type="text" name="villages" list="namesvillage" placeholder="Village Name">
        <datalist id="namesvillage">
          {% for village in ethiopia_info.village %}
          <option>{{village}}</option>
          {% endfor %}
        </datalist>
        <br>
        <br><button id="user_add" type="submit" class="btn btn-default">Add User</button>
      </form>
    </div>

    <div class="col-md-5">
      <table class="table table-hover table-bordered table-striped">
        <h1> Users in Our Current System </h1>
        <br>
        <p> The current time in Ethiopia is {{ethiopia_info.time_string}}</p>
        <tr>
          <th> Select User </th>
          <!-- <th> Id </th> -->
          <th> Name </th>
          <th> Cell Phone </th>
          <th> Village </th>
          <th> Region </th>
        </tr>
        <form method="post" action="send_call_route">
          {% if user_list %}
          {% for user in user_list %}
          <tr>
            <td><input name="select" value="{{user.id}}" type="checkbox"></td>
            <!-- <td>{{user.id}}</td> -->
            <td>{{user.name}}</td>
            <td>{{user.cell_phone}}</td>
            <td>{{user.region}}</td>
            <td>{{user.village}}</td>

          </tr>
          {% endfor %}
          {% endif %}
        </table>
        <p>What you would like to do with selected users?</p>
        <label class="radio-inline"><input type="radio" name="options" value="voice">Send Voice Message</input></label>
        <label class="radio-inline"><input type="radio" name="options" value="sms" disabled>Send SMS</input></label>
        <label class="radio-inline"><input type="radio" name="options" value="delete">Detele user</input></label>
        <button id="confirm" type="submit" class="btn btn-default col-md-offset-9">Confirm Action</button>
      </form>
      <p>
        <div style="display:none" id="call_sent" class="col-md-offset-10"> Success! </div></p>
      </div>

    </div></div>
    {% endblock %}
