{% extends "base.html" %}
{% block results %}

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"> <a href="/"> Home </a> </li>
  <li role="presentation" class="active"> <a href="/users"> Users </a></li>
  <li role="presentation"> <a href="/calls"> Call History </a></li>
</ul>
      <div class="row">


    <div class="col-md-5 col-sm-offset-1">
          <h2> Add a new user </h2>
          <p id="success_text" style="display: none"> Success! </p>
          <form class="form-inline" name="new_user" action="/users" method="post">
            <div class="form-group input-group">
              <span class="input-group-addon">+</span>
              <input minlength="10" class="form-control" name="cell_phone" type="text" placeholder="Phone Number" class="form-control">
            </div>
            <div class="form-group">
              <input class="form-control" name="name" type="text" placeholder="Enter Name" class="form-control">
            </div>
            <br>

            <input class="form-control" type="text" name="regions" list="namesregion" placeholder="Region Name">
            <datalist id="namesregion">
            {% for region in ethiopia_info.regions %}
              <option>{{region}}</option>
            {% endfor %}
          </datalist>

          <input class="form-control" type="text" name="villages" list="namesvillage" placeholder="Village Name">
            <datalist id="namesvillage">
            {% for village in ethiopia_info.village %}
              <option>{{village}}</option>
            {% endfor %}
          </datalist>

          <br><button id="user_add" type="submit" class="btn btn-default">Add User</button>
          </form>


        </div>

    <div class="col-md-5">
    <table class="table table-hover table-bordered table-striped">
    <h2> Users in Our System </h2>
    <p> The current time in Ethiopia is {{ethiopia_info.time_string}}</p>
      <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Cell Phone </th>
        <th> Region </th>
        <th> Village </th>
        <th> Send them a Message? </th>
        <th> Delete User? </th>
        <th> Times Called (since adding to db) </th>
      </tr>
      <form method="post" action="send_call_route">
      {% if user_list %}
        {% for user in user_list %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.cell_phone}}</td>
          <td>{{user.region}}</td>
          <td>{{user.village}}</td>
          <td><input name="send" value="{{user.id}}" type="checkbox"></td>
          <td><input name="delete" value="{{user.id}}" type="checkbox"></td>
          {% if user.calls %}
            <td> <a id="{{user.calls[0]}}" class="highlighter" href="/calls#{{user.calls[0]}}">{{user.calls|length}}</a></td>
          {% else %}
            <td> 0 </td>
          {% endif %}
        </tr>
        {% endfor %}
      {% endif %}
    </table>
    <button id="confirm" type="submit" class="btn btn-default col-md-offset-9">Confirm Action</button>
    </form>
    <p>
    <div style="display:none" id="call_sent" class="col-md-offset-10">Success!</div></p>
  </div>

      </div>
{% endblock %}
